<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Shrinidhi Sridhar</title>
    <meta name="description" content="">
    <meta name="author" content="Shrinidhi Sridhar">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <!-- <link href="static/stylesheets/style.css" rel="stylesheet"> -->
    <link href="static/stylesheets/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
  <body>
    <p class="name">Shrinidhi Sridhar</p>
  </body>
</html>  